/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */

html {
    font-size: 100%;
}

ul {
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid #000;
}

#task-section,
.btn,
input[type="text"] {
    border: 1px solid #000;
}

.notes {
    border: 2px solid #000;
    width: 350px;
    margin: 4rem auto;
}

form {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

input[type="text"] {
    margin-right: 0.5rem;
    padding: 0 1rem;
} 

#task-section {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;
    min-height: 400px;
    box-shadow: 2px 2px;
}

.btn {
    background-color: #fff;
    padding: 0.5rem 1rem;
    box-shadow: 2px 2px;
}